<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Not Approved</title>
  <link href="/CSS/TeacherNotApproved.css" type="text/css" rel="stylesheet">
</head>
<script src="/JS/TeacherNotApproved.js"></script>
<body>
<div>
    <header id="header">
        <h2>Student Management System</h2>
        <nav>
            <ul>
                <li><a href="http://localhost:8080/studentms">Home</a></li>
                <li><a href="http://localhost:8080/studentms/teacherLogin">Teacher</a></li>
                <li><a href="http://localhost:8080/studentms/loginStudent">Student</a></li>
            </ul>
        </nav>
    </header>
</div>
<hr>
<br><br>
<div id="content">
    <pre>
        <span id="span1">Dear Teacher ;)</span>
        <br>
        <span id="span2">Your account has not been approved yet!

        Our administrative Team will be checking it soon.

        And soon your admission will be confirmed. You will get to access after confirmation.

        Thank you for signing up. We'll see you soon.</span>
    </pre>
    <button type="button" onclick="goToHomePage()" class="button" id="return">Click Here to Go Home Page</button>
</div>
<br>
<br>
<hr>
<div class="footer">
    <footer>
        <p>&copy;2023 Student Management System</p>
    </footer>
</div>


</body>
</html>